.main{margin: 0;
}.icon{
    position: relative;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.front{
display: inline;
color:#000000 ;
font-family: 'Lobster', cursive;
font-weight: 400;

font-size: 20px;
}
.end{
    color:#FFC12B ;
    font-family: 'Lobster', cursive;

}
.navbar{
    float: right;
}
ul li{
    display: inline;
    text-align: right;
    padding: 10px;
    margin: 0;
}
ul li:hover{
    text-decoration: underline #FF6D21 6px solid;
    
}
.float{
    position: relative;
    margin-top: 25px;
    float: right;
    
}

h1{
    margin-top: 100px;
    margin-left: 40px;
}
p{
    margin-left: 40px;
    margin-top: 40px;
    color: #726969;
}